# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Databases
*.sqlite3

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp*
.pnp.js

# React build
hospital_frontend/build/
hospital_frontend/dist/

# OS
.DS_Store
Thumbs.db
